<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h4>Lista de Palestras</h4>

    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th>Título</th>
          <th>Descrição</th>
          <th>Duração</th>
          <th>Preço</th>
          <th>Data</th>
        </tr>
      </thead>

      <tbody>
        <% @lectures.each do |lecture| %>
          <tr>
            <td><%= lecture.title %></td>
            <td><%= lecture.description %></td>
            <td><%= lecture.duration %></td>
            <td><%= lecture.price %></td>
            <td><%= lecture.date %></td>
            <td><%= link_to 'Ver', lecture, class: "waves-effect waves-light btn" %></td>
            <td><%= link_to 'Editar', edit_lecture_path(lecture), class: "waves-effect waves-light light-blue accent-4 btn" %></td>
            <td><%= link_to 'Apagar', lecture, method: :delete, data: { confirm: 'Você tem certeza?' },class: "waves-effect waves-light red accent-4 btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Criar uma palestra', new_lecture_path, class: "waves-effect waves-light btn" %>
    <%= link_to 'Voltar', user_page_path, class: "waves-effect waves-light btn" %>

  </div>
</div>
