<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Descrição:</strong>

  <strong>Theme:</strong>
  <%= @lecture.theme %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lecture.description %>
</p>

<p>
  <strong>Palestrante:</strong>
  <%= @speaker.name %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @lecture.price == 0.0 ? "Entrada Franca" : number_to_currency(@lecture.price) %>
</p>

<p>
  <strong>Duração:</strong>
  <%= @lecture.duration.to_s  + " horas" %>
</p>

<p>
  <strong>Data:</strong>
  <%= @lecture.date %>
</p>

<!-- TODO: the servers of social networks do not find this url
<%= request.original_url %> -->

<%= social_share_button_tag(@lecture.title, url: "http://globoesporte.globo.com/") %>

<%= link_to 'Inscrever-se', authorize_lectures_path(@lecture, current_user_id: current_user.id) %> |
<%= link_to 'Editar', edit_lecture_path(@lecture) %> |
<%= link_to 'Voltar', lectures_path %>
