<p id="notice"><%= notice %></p>

<table class="highlight responsive-table">
  <thead>
    <tr>
      <th>Título: </th>
      <th>Tema: </th>
      <th>Descrição: </th>
      <th>Palestrante: </th>
      <th>Endereço: </th>
      <th>Preço: </th>
      <th>Duração: </th>
      <th>Data: </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @lecture.title %></td>
        <td><%= @lecture.theme %></td>
        <td><%= @lecture.description %></td>
        <td><%= @lecture.speaker.name %></td>
        <td><%= @lecture.address %></td>
        <td><%= @lecture.price == 0.0 ? "Entrada Franca" : number_to_currency(@lecture.price) %></td>
        <td><%= @lecture.duration.to_s + (@lecture.duration > 1 ? " minutos" : " minuto") if @lecture.duration%></td>
        <td><%= @lecture.date %></td>
      </tr>
  </tbody>
</table>

<div class="center-align">

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@lecture.latitude}%2C#{@lecture.longitude}" %>

  <%if @lecture.price == 0.0 %>
    <%= link_to 'Inscrever-se', authorize_lectures_path(@lecture, current_user_id: current_user.id), class: "waves-effect waves-light light-green btn" %>
  <%else %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
    data-currency= "BRL"
    data-location= "auto"
    data-description="Pagamento de Palestra"
    data-amount="<%= @lecture.price * 100 %>">
    </script>
  <%end%>
  <%= link_to 'Editar', edit_lecture_path(@lecture), class: "waves-effect light-blue waves-light btn" %>
  <%= link_to 'Voltar', lectures_path , class: "waves-effect waves-light btn"%>
</div>
