<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Descrição:</strong>

  <strong>Theme:</strong>
  <%= @lecture.theme %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lecture.description %>
</p>

<p>
  <strong>Palestrante:</strong>
  <%= @speaker.name %>
</p>
<p>
  <strong>Localização:</strong>
  <%= @lecture.address %>
</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@lecture.latitude}%2C#{@lecture.longitude}" %>
<p>
  <strong>Preço:</strong>
  <%= @lecture.price == 0.0 ? "Entrada Franca" : number_to_currency(@lecture.price) %>
</p>

<p>
  <strong>Duração:</strong>
  <%= @lecture.duration.to_s + (@lecture.duration > 1 ? " minutos" : " minuto") %>
</p>

<p>
  <strong>Data:</strong>
  <%= @lecture.date %>
</p>

<!-- TODO: the servers of social networks do not find this url
<%= request.original_url %> -->

<%= social_share_button_tag(@lecture.title, url: "http://globoesporte.globo.com/") %>
<%if @lecture.price == 0.0 %>
  <%= link_to 'Inscrever-se', authorize_lectures_path(@lecture, current_user_id: current_user.id) %>
<%else %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.application.secrets.stripe_publishable_key %>"
  data-currency= "BRL"
  data-location= "auto"
  data-description="Pagamento de Palestra"
  data-amount="<%= @lecture.price * 100 %>">
  </script>
<%end%>|
<%= link_to 'Editar', edit_lecture_path(@lecture) %> |
<%= link_to 'Voltar', lectures_path %>
