<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lecture.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lecture.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @lecture.duration %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lecture.date %>
</p>

<!-- TODO: the servers of social networks do not find this url
<%= request.original_url %> -->

<%= social_share_button_tag(@lecture.title, :url => "http://globoesporte.globo.com/") %>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
