<p id="notice"><%= notice %></p>

    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th>Nome do Palestrante</th>
        </tr>
      </thead>
  <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= link_to 'Avaliar este Palestrante', new_review_path(id: @user), class: "waves-effect waves-light btn" %>
        <%= link_to 'Follow', follow_user_path(@user, current_user_id: current_user.id), class: "waves-effect waves-light btn" %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Voltar', users_path, class: "waves-effect waves-light btn" %>
