<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<<<<<<< HEAD
<%= link_to 'Follow', follow_user_path(@user, current_user_id: current_user.id) %> |
<%= link_to 'Back', users_path %>
=======

<%= link_to 'Avaliar este Palestrante', new_review_path(id: @user), class: "waves-effect waves-light btn" %>
<%= link_to 'Voltar', users_path, class: "waves-effect waves-light btn" %>


>>>>>>> Creating Lecturer evaluation
