<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <div id="lectures" class="section scrollspy">
        <% if current_user.lectures.empty? %>
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">Você ainda não se matriculou em nenhuma palestra, comece por aqui.</h5>
              <a href="/lectures" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Ver Palestras</a>
              <a href="/speakers" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Ver Palestrantes</a>
            </div>
          </div>
        <% else %>
          <p>
            <h4>Minhas Palestras</h4>
            <table>
              <% current_user.lectures.each do |lecture| %>
                <thead>
                  <tr>
                    <th data-field="title">Título</th>
                    <th data-field="date">Data</th>
                    <th data-field="price">Preço</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= lecture.title %></td>
                    <td><%= lecture.date %></td>
                    <td><%= lecture.price == 0.0 ? "Entrada Franca" : number_to_currency(lecture.price) %></td>
                    <td><%= link_to 'Saiba Mais', lecture, class: "waves-effect waves-light btn" %></td>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </p>
          <a href="/lectures" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Procurar Mais Palestras</a>
        <% end %>
      </div>
      <div id="recomendations" class="section scrollspy container">
      <h4>Recomendado pra você</h4>
      <p>
        <table class="highlight responsive-table">
        <thead>
          <tr>
            <th>Nome do Palestrante</th>
          </tr>
        </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= link_to 'Ver', user, class: "waves-effect waves-light btn" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </p>
      <a href="/lecturers" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Ver Palestrantes</a>
      </div>
      <% if @user.email.include? 'gmail' %>
      <div id="calendar" class="section scrollspy container">
        <iframe src="https://calendar.google.com/calendar/embed?src=<%=@user.email%>&ctz=America/Sao_Paulo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
      <% end %> 
      <div id="nearlectures" class="section scrollspy container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#lectures">Minhas Palestras</a></li>
        <li><a href="#recomendations">Recomendações</a></li>
        <li><%= link_to 'Notificações', notifications_user_path(id: current_user.id) %></li>
        <% if @user.email.include? 'gmail' %>
        <li><a href="#calendar">Calendário</a></li>
        <% end %>
        <li><a href="#nearlectures">Palestras Próximas</a></li>
      </ul>
    </div>
  </div>
</div>
