<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Portal de Palestras</title>
  <%= javascript_include_tag "https://apis.google.com/js/plusone.js" %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="assets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%=OORConstant.facebook_app_id%>";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo" href="/">Portal de Palestras</a>
      <ul class="right hide-on-med-and-down">
        <% unless session[:user_id].nil? %>
        <li><a href="/home"><i class="material-icons right"></i>
          <div class="chip">
            <%= image_tag("http://graph.facebook.com/#{current_user.uid}/picture?", alt: "user_photo") %>
            <%= current_user.name %>
          </div>
        </a></li>
        <li>
          <a href="/logout" class="waves-effect waves-light red accent-4 btn">Sair</a>
        </li>
        <% end %>
      </ul>

      <ul class="right hide-on-med-and-down">
        <!-- <li><a href="#">Navbar Link</a></li> -->
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <!-- <li><a href="#">Navbar Link</a></li> -->
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <%= yield %>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="assets/materialize.js"></script>
  <script src="assets/init.js"></script>
</body>
</html>
